<app-header></app-header>

<div class="landing" #landing>
  <div class="overlay"></div>

  <div class="contenido" #contenido>
    <h1>CREA Y COMPARTE ENCUESTAS AL INSTANTE</h1>
    <p class="subtitulo">
      Diseña y distribuye encuestas sin esfuerzo, sin necesidad de iniciar sesión. 
      Genera enlaces únicos para cada encuesta para los usuarios y para vos, 
      con la visualización de las respuestas, asegurando una recopilación y análisis de datos.
    </p>
    <button class="btn-nueva-encuesta" routerLink="/crearcion">Nueva Encuesta</button>
  </div>
</div>
