<app-header></app-header>
<p-toast></p-toast>

<div id="contenedor-enlaces">
  <h2 class="titulo-seccion">
    🔗 "¡Felicidades! Tu encuesta fue creada. Aquí están los enlaces generados
    para la encuesta."
  </h2>

  <div *ngIf="respuestaUrl() && resultadosUrl()" class="contenedor-tarjetas">
    <!-- 🟦 TARJETA RESPUESTA -->
    <p-card
      header="📥 Enlace para RESPONDER la encuesta"
      styleClass="custom-card respuesta-card"
    >
      <div class="enlace-container">
        <div class="qr-info">
          <qrcode
            [qrdata]="respuestaUrl()"
            [width]="160"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
        <div class="texto-boton">
          <span class="enlace-texto">{{ enlaceRespuesta }}</span>
          <p-button
            label="Copiar enlace"
            icon="pi pi-copy"
            class="p-button-lg p-button-info copiar-btn"
            (onClick)="copiar(respuestaUrl())"
          >
          </p-button>
        </div>
      </div>
    </p-card>

    <!-- 🟪 TARJETA RESULTADOS -->
    <p-card
      header="📊 Enlace para VER RESULTADOS"
      styleClass="custom-card resultados-card"
    >
      <div class="enlace-container">
        <div class="qr-info">
          <qrcode
            [qrdata]="resultadosUrl()"
            [width]="160"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
        </div>
        <div class="texto-boton">
          <span class="enlace-texto">{{ enlaceGestion }}</span>
          <p-button
            label="Copiar enlace"
            icon="pi pi-copy"
            class="p-button-lg p-button-success copiar-btn"
            (onClick)="copiar(resultadosUrl())"
          >
          </p-button>
        </div>
      </div>
    </p-card>
  </div>
</div>
