<app-header></app-header>
<p-toast></p-toast>

<div id="contenedor-enlaces">
<h2 class="titulo-seccion">🔗 Enlaces generados para la encuesta</h2>

<div ngIf="respuestaUrl() && resultadosUrl()" class="p-d-flex p-flex-column p-gap-3 ">
  <p-card header="📦 Enlace para responder">
    <div class="p-d-flex p-ai-center p-jc-between p-flex-wrap enlace-card respuesta">
      <qrcode [qrdata]="respuestaUrl()" [width]="150"></qrcode>
      <span style="word-break: break-word;">{{ respuestaUrl() }}</span>
      <p-button 
        label="Copiar" 
        icon="pi pi-copy" 
        class="p-ml-2 p-button-sm" 
        (onClick)="copiar(respuestaUrl())">
      </p-button>
    </div>
  </p-card>

  <p-card header="📊 Enlace para ver resultados">
    <div class="p-d-flex p-ai-center p-jc-between p-flex-wrap enlace-card resultados">
      <qrcode [qrdata]="resultadosUrl()" [width]="150"></qrcode>
      <span style="word-break: break-word;">{{ resultadosUrl() }}</span>
      <p-button 
        label="Copiar" 
        icon="pi pi-copy" 
        class="p-ml-2 p-button-sm" 
        (onClick)="copiar(resultadosUrl())">
      </p-button>
    </div>
  </p-card>
</div></div>


